@*@page "/finance"*@

<h3>Finance</h3>
<FinancialYear />
<MudTabs Elevation="25" Color="Color.Transparent" Rounded="true" PanelClass="mt-6">
    <MudTabPanel Text="Cost of goods">
       <CostOfGoods/>
    </MudTabPanel>
    <MudTabPanel Text="P/L statement">
        <ProfitLoss />
    </MudTabPanel>
</MudTabs>


@code {

}
